a#download {
    font-size: 200%;
    color: steelblue;
}

a#download:hover {
    background-color: lightsteelblue;
    color: black;
}

a#release {
    font-size: 150%;
    color: steelblue;
}

a#release-ipfs-pinata {
    font-size: 140%;
    color: #4a9ea1;
}

a#release-ipfs-dweblink {
    font-size: 140%;
    color: goldenrod;
}

a#release:hover {
    background-color: lightsteelblue;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.msglarge {
    font-size: 130%;
}

.unmaintained {
    color: darkorange;
    padding: 10px;
    margin-left: 30px;
    font-size: 120%;
}

a {
    font-size: 120%;
}
